@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700&display=swap");

body {
  font-family: "Noto Sans SC", sans-serif, 800;
  font-size: 1.6em;
  background-color: #5aa469;
}

.container {
  display: flex;
  flex-direction: column;
}

.post {
  border-radius: 10px;
  background: linear-gradient(#ff4646, #ff8585);
  color: #fff5c0;
  height: 20vh;
  width: 20vw;
  padding: 2%;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  width: 98vw;
  justify-content: center;
  margin-top: 2%;
}

.line-through {
  text-decoration: line-through;
}

.btn {
  background-color: #f8d49d;
  border: 0;
}
